# Exercices for chapter 1. 

## Numbers 

#### Create a variable named my age with your age. Create another variable called x and give an integer value to it. 

#### Sum both variables. 
#### Multiply both variables.
#### Print "My result is: RESULT of Multiplication". Also check the type.


## Strings

#### With the function input, enter the day of your birthday as a variable (numeric).

#### With the function input, enter the month of your birthday as a variable (string).

#### With the use of a method, capitalize the first letter of your month variable.

#### Create a new variable called birthdate that contains the day and the month of birth. (Hint: Might want to use str() function)
#### Print: My date of birth is the XX of XXXXXX.

####  Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. Assume strings are at least 4 characters long.

#### Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

## Lists

#### Create a list with different names.

#### Count the amount of elements of the list.

#### Find the first and the last element according to the alphabetical order.

#### How much characters has the first alphabetical name.

#### Sort all the list by alphabetical order

#### The second name is no longer in the class, replace its name for another.

range(0, 8)

#### Write two lists of strings: list1, list2. Create a third list whith the product of the first two elements of list1 and list2.

#### Create a new list which includes list1, list2 and list3.

#### Using the list list = [1,2,3,4,5,6,7,8,9]:  Create a new list with every 3 elements.

[1, 3, 5]

#### Create a new list with the last two elements.

## Dictionaries

#### Create a list with 3 words. Now create a dictonary which keys: name1, name2, name3 and as values the length of the word.

{'name1': 5}

#### We forgot to include the word "Econometrics" in the previous dictoinary! Can you include it as name4?

{'name1': 5, 'nam4': 'econometric'}
{'name1': 5, 'nam4': 'econometric', 'name5': 'apple'}

#### Also, the first word now is "Apple". Can you change the length?

#### Print a list of all the values of your dictionary.

dict_values([5, 'econometric', 'apple'])

## Sets

#### Create an empty set, and then add some elements to it.

#### Now remove the first element of the set

## Touples

#### Create a touple with repeated items and then count the amount of times an intem appears in the touple.

## IF statements and loops

#### Write a program that checks the length of a string, and if the length is longer than 4 it prints 'long string'. Otherwise, it prints 'short string'.

#### Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
Hitnts: You might want to use range(150,200) which creates a list of the values between 150 and 200. Also, you might want to use the operator % whichs gives the reminder of a division.

#### Write a Python program to construct the following pattern, using a nested for loop.

##### a
##### aa
##### aaa
##### aaaa
##### aaa
##### aa
##### a

Hint: To print next to each other use print(text,'end='')

a
aa
aaa
aaaa
aaa
aa
a

#### Write a Python program that prints all the numbers from 0 to 7 except 3 and 6.

#### Write a Python program that accepts a string and calculate the number of digits and letters.
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2

letters: 4 ; digits: 4

#### Create a list and iterate over its elements to print the length or value.

#### Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

## List Comperhension

#### With original_list = [2,3.75,.04,59.354,6,7.7777,8,9] create a new list with only the integers.

#### Create a list with every character of the string "Apple". All the characters should be upercase.

#### Filter odd numbers from the following list:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Functions

#### Write a function to find the max of three numbers.

#### Write a function to sum all the elements in a list.

10

#### Write a function to reverse the elements of a string.

esuoh

#### Write a function that can take an unlimited amount of arguments and prints all the arguments.

# Lambda

#### Write a Python program to square and cube every number in a given list of integers using Lambda.

HINT: You should use the function `map()`.

## Class