# Exercices with Pandas
## Series
#### Write a Python program to compare if the elements of two series are equal,greater or smaller. (element by element comparison)

#### Write a program to convert a dictionary to a Pandas series.

In [2]:
dictionary  = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

#### Write a program to convert a NumPy array to a Pandas series.

#### Write a program to sort a given series.

#### Write a program to create a subset of a given series based on value and condition.

## DataFrames

### Creation

####  Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [4]:
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### Summary Information, Indexing and Slicing
#### Write a Pandas program to display a summary of the basic information aboutthe exam data.

#### Write a Pandas program to select the 'name' and 'score' columns from the

#### Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

#### Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

#### Write a Pandas program to select the rows the score is between 15 and 20 (inclusive)

#### Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

#### Write a Pandas program to calculate the mean score.

#### Write a Pandas program to count the NaN values in one or more columns in DataFrame.

In [20]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
print("\nNumber of NaN values in one or more columns:")
print(df.isnull().sum())

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Number of NaN values in one or more columns:
name        0
score       2
attempts    0
qualify     0
dtype: int64

### Modify rows based on conditions

#### For the next exercices we will work with the data file 'data1.dta' which is a subset of the NLSY. It contains survey information from different individuals about labor market and education characteristics.

#### Import the data

#### Create a new column that includes total earnings as a result of multiplying earnings by hours.

#### Create a new column called feamale_string that equals 'yes' if the individual is a female and 'no' otherwise.

#### Create a new column called skilled that equals 1 if the individual asvab_mean is above the average and 0 otherwise.

#### Create a column that equals 1 if the invidual is hispanic and older than 40, and 0 otherwise.

 ### Merge, Concat and join.
 
 #### Write a Pandas program to join the two given dataframes along rows and assign all data.

In [ ]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

#### Now joing them along columns.

#### Append some rows to the first DataFrame and display the result

#### Merge along rows the two previous data frames and then merge with exam along columns

In [ ]:
exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

#### Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [ ]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

#### Repeat using only keys from the right.

## Groupby

#### Write a Pandas program to split the following dataframe into groups based on school code.

In [7]:
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

NameError: name 'pd' is not defined

#### Write a Pandas program to split the following dataframe by school code and get mean, min, and max value of age for each school.

#### Write a Pandas program to split the following dataframe by school code and class and include the average weight

#### Create a new column with the maximum weight at each school

#### (Advanced) Write a Pandas program to split a given dataframe into groups and display target column as a list of unique values. So the resuting column must include a list of the unique books each index has.

In [8]:
df = pd.DataFrame( {'id' : ['A','A','A','A','A','A','B','B','B','B','B'], 
                    'type' : [1,1,1,1,2,2,1,1,1,2,2], 
                    'book' : ['Math','Math','English','Physics','Math','English','Physics','English','Physics','English','English']})

NameError: name 'pd' is not defined

#### (Advanced) Write a Pandas program to split the following datasets into groups on customer id and calculate the number of customers starting with 'C', the list of all products and the difference of maximum purchase amount and minimum purchase amount.

In [ ]:
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'ord_date': ['05-10-2012','09-10-2012','05-10-2012','08-17-2012','10-09-2012','07-27-2012','10-09-2012','10-10-2012','10-10-2012','06-17-2012','07-08-2012','04-25-2012'],
'customer_id':['C3001','C3001','D3005','D3001','C3005','D3001','C3005','D3001','D3005','C3001','D3005','D3005'],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})